.stories {
    background-size:contain;
    text-align: center;
    width: auto; /* Full width */
    min-height: 200px;
    margin: 0 auto; /* Center the banner */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: black; /* Fallback color */
    color: white;
  }
  
  .stories h1 {
    padding-top: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.4em; /* Larger text */
    margin: 10px 0;
  }
  
  .stories p {
    max-width: 60%;
    font-family: sans-serif;
    font-size: 0.8em; /* Larger text */
    margin: 0px 0;
  }
  
  .storiesimg {
    max-width: 100px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  
  /* Media Queries for Responsive Text */
  @media (max-width: 768px) {
    .stories {
      background-size: cover;
      min-height: 200px;
    }
    .stories h1 {
      max-width: 80%;
        font-size: 1em; /* Smaller text on mobile */
    }
  
    .stories p {
        font-size: 0.4em; /* Smaller text on mobile */
    }
  }